*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

:root{
    --color-primary: #170a06;
    --color-secondary: #33160d;
    --color-orange-0: #c73f18;
    --color-orange-1: #b8471f;
    --color-orange-2: #b9662c;
    --color-orange-3: #d17938;
    --color-green-1: #4b7369;
    --color-green-2: #015f63;
    --color-green-3: #0b373b;
    --color-green-4: #062325;
    --color-brown-1: #582611;
    --color-brown-2: #623518;
    --color-red: #6b180c;
    --color-light: #fde092;
    --color-grey: #a5a1a2;
    --color-white: #ffffff;
    --color-black: #000;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3)

}

body{
    background-color: var(--color-primary);
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    //transition: all .4s ease-in-out;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(184, 71, 31,0.7),rgba(184, 71, 31, 0.2)),url(../img/terrao-capa-1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.pages{
    color: var(--color-white);
    text-decoration: none;
}

.pages a:visited{
    color:var(--color-orange-0)
}

nav{
    display:flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}
nav i{
    height: 30px;
    color: var(--color-white);
}
nav i:hover{
    height: 30px;
    color: var(--color-orange-0);
    transition: .5s ease-in-out;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding-left: 1rem;
    position: relative;
    font-weight:500;
    font-size: 14px;
}

.text-box-1{
    margin-top: 45vh;
    padding: 1rem;
    display: grid;
    text-align: right;
    //padding: 540px 0px 0px 850px;
    position: relative;
    justify-content: right;

}

.text-box-1 p{
    font-size: 18.8px;
    position: relative;
}

.text-box-1 p::selection{
    //color: var(--color-orange-0);
    background-color: var(--color-orange-0);
}
.text-box-1 div::selection{
    color: var(--color-white);
    background-color: transparent;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    //border: 1px solid var(--color-white);
    padding: 0px;
    background-color: transparent;
    font-size: 3.4rem;
    font-weight: bold;
    position: relative;
    color:var(--color-orange-0);
    
    //animation-delay:1s;
    animation-name: color;
    animation-duration: 3.5s;
    animation-fill-mode: forwards; 
};

@keyframes color {
    from {color: var(--color-orange-0)}
    to {color: var(--color-white)}
    };

.subtitulo-solo {
    font-size: 1.15rem;
    color: transparent;
    
    animation-delay:2s;
    animation-name: color2;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}

@keyframes color2 {
    from {color: transparent}
    to {color: var(--color-white)}
    };

.renato {
    color: transparent;
    //font-weight: bold;
    font-size: 14px;
    margin-left: 2%;
    bottom: 2%;
    position: fixed;
    padding-top: 300px;
    padding-right: 200px;
    transition: .75s ease-in-out;
}

.stockler div::selection{
    background-color: var(--color-orange-0)
}

.renato:hover{
    color: white;
    transition: .75s ease-in-out;
}




.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--color-white);
    display:block;
    margin:auto;
    padding: 0px;
}

.nav-links ul li:hover::after{
    content: '';
    width: 100%;
    height: 2px;
    background: var(--color-white);
    display:block;
    margin:auto;
    padding: 0px;
    transition: .5s;
}









// Resumo/Abstract
.resumo{
    text-align: center;
    padding: 1rem;
    //background-image: linear-gradient(rgba(185, 102, 44, 0.6),rgba(185, 102, 44, 0.2)),url(../img/background-street-1.png);
    background-image: linear-gradient(rgba(1, 95, 99, 0.7),rgba(1, 95, 99, 0)),url(../img/background-street-2.png);
    min-height: 100vh;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    display: block;
}

.escrito{
    margin:auto;
}

.escrito h1::selection{
    background-color: var(--color-orange-0);
}

.escrito h2::selection{
    background-color: var(--color-orange-0);
}

.escrito p::selection{
    color:transparent;
    background-color: transparent;
    //background-color: var(--color-orange-0);
    transition: .75s ease-in-out;
}

.MB-11{
    padding-top: 2rem;
    font-size: 2.3rem;
    text-align: left;
    transition: .75s ease-in-out;
}
.MB-11:hover{
    background-color: transparent;
    color: transparent;
    transition: .75s ease-in-out;
}

.MB-12{
    font-size: 1.8rem;
    text-align: left;
    transition: .75s ease-in-out;
}
.MB-12:hover{
    background-color: transparent;
    color: transparent;
    transition: .75s ease-in-out;
}

.MB-13{
    //font-size: 74px;
    font-size: 3rem;
    text-align: left;
    transition: .75s ease-in-out;
}

.MB-13:hover{
    background-color: transparent;
    color: transparent;
    transition: .75s ease-in-out;
}

.citacao{
    max-width: 95%;
    font-size: 1.35rem;
    font-weight: 500;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 5%;
    text-align: left;
    transition: .75s ease-in-out;
}

.citacao:hover{
    background-color: transparent;
    color: transparent;
    transition: .75s ease-in-out;
}


// ABSTRACT SE FOR PARTE DO RESUMO
.abstract{
    width: 100%;
    text-align: justify;
    text-align-last: left;
    max-width: 500px;
}

.solo-cont{
    max-width: 100vh;
    position:relative;
    bottom:0px;
}

.solo-1{
    margin-top: 3rem;
    width: 80vw;
    border: 9px solid var(--color-white);
}

.arrow{
    margin-left: .5rem;
    width: 80vw;
}





// PÁGINA INVESTIGAÇÃO

.invest-body{
    background-color: var(--color-orange-2);
    background-image: linear-gradient(  
                                        // rgba(51, 22, 13, 1),
                                        // rgba(98, 53, 24, 1),
                                        // rgba(88, 38, 17, 1),
                                        rgba(184, 71, 31, 0.4),
                                        rgba(184, 71, 31, 1))
                                        /*rgba(199, 63, 24,  0.5),
                                        rgba(185, 102, 44,  0.1)),url(../img/soil-texture.png)*/;
    background-position: center;
    background-size: cover;
}

.header-invest{
    min-height: 100vh;
    width: 100%;

}
.contain-titulo{
    padding: 1rem;
}

.contain-titulo h1{
    font-size: 2.2rem;;
}

.intr-invest h1{
    font-size: 2rem;
    padding: 1rem;
}

.intr-invest p{
    font-size: 1.1rem;
    text-align: justify;
    padding: 1rem;
}

.invest-row{
    display: block;
    text-align: center;
}

.contain-desc{
    text-align: center;
}

.invest-column{
    margin: auto;
    border: solid;
    border-width: 9px;
    border-radius:50%;
    max-width: 240px;
}

.pin{
    margin:auto;
    max-width: 300px;
    padding-top: 1rem;
    padding-bottom: 2rem ;
}

.invest-column p::selection{
    background-color: var(--color-orange-0);
}

.invest-column:hover{
    background-color: #015f63;
    transition: .5s ease-in-out;
}

.pin:hover{
    background-color: #015f6300;
    transition: .5s ease-in-out;
}

.intr-invest h1::selection{
    color: var(--color-green-4);
}

.intr-invest h2::selection{
    color: var(--color-green-4);
}

.intr-invest h3::selection{
    background-color: var(--color-green-4);
}

.intr-invest p::selection{
    background-color: var(--color-green-4);
}




.tab li::selection{
    //color: var(--color-green-1);
    background-color: var(--color-green-2);
}

.tab b::selection{
    color: var(--color-green-4);
}

.cit{
    font-size: 1rem;
    border: solid;
    border-width: 9px;
    border-color: transparent;

    background-image: linear-gradient(var(--color-green-2),var(--color-green-2));
    background-repeat: no-repeat;

    background-size: 10px 100%;
    background-position: 0 100%;
    transition: 
    background-size 0.5s,
    background-position 0.3s 0.5s
}

.cit:hover{
    background-size: 100% 100%;
    background-position: 100% 0;
    transition: 
        background-position 0.3s
        background-size 0.5s 0.3s;

}

.intr-invest h3{
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
}


.tab{
    margin-left: 1.3rem;
    //font-size: 1rem;
}

.invest-image-row{
    //padding: 1rem ;
    text-align: center;
    margin: auto;
}

.img-cam{
    max-width: 85vw;
    margin: auto;
    transform: scale(1);
    transition: .75s ease-in-out;
}

.img-ess{
    max-width: 85vw;
    border: solid;
    border-color: var(--color-white);
    border-width: 9px;
    transform: scale(1);
    transition: .75s ease-in-out;
}

.img-mapapedo-1{
    max-width: 85vw;
    transform: scale(1);
    transition: .75s ease-in-out;

}

.img-mapapedo-2{
    max-width: 85vw;
    border: solid;
    border-color: var(--color-white);
    border-width: 9px;
    transform: scale(1);
    transition: .75s ease-in-out;

}


.img-cam:hover{
    transform: scale(1.1);
    transition: .75s ease-in-out;
}

.img-cam:hover + .cam{
    color: white;
    transition: .75s ease-in-out;
}

.img-ess:hover{
    transform: scale(1.1);
    transition: .75s ease-in-out;
}

.img-ess:hover + .ess-1{
    color: white;
    transition: .75s ease-in-out;
}

.img-ess:hover + .ess-2{
    color: white;
    transition: .75s ease-in-out;
}

.img-mapapedo-1:hover{
    transform: scale(1.1);
    transition: .75s ease-in-out;
}

.img-mapapedo-1:hover + .pedo-1{
    color: white;
    transition: .75s ease-in-out;
}

.img-mapapedo-2:hover{
    transform: scale(1.1);
    transition: .75s ease-in-out;
}

.img-mapapedo-2:hover + .pedo-2{
    color: white;
    transition: .75s ease-in-out;
}

.divisoria{
    //max-width: 100vw;
    overflow: hidden;
    display: block;
    min-height: 30vh;
}

.img-div-0{
    width: 120vw;
    transform: scale(1.3);
}
.img-div-1{
    width: 120vw;
    transform: scale(1.5);
}
.img-div-3{
    width: 100vw;
    transform: scale(1);
}
.img-div-5{
    width: 70vw;
    transform: scale(2);
}
.sob-terr-1{
    min-height: 350vh;
    width: 100%;
    position: relative;
    display: block;
}





// SOLO EXPOSTO 1
.solo-exposto-1-page{
    min-height: 500vh;
    width: 100%;
    position: relative;
    display: block;
}

.leg{
    max-width: 80vw;
    margin-top: 1rem;
    margin: auto;
    text-align: center;
    font-size: 12px;
    color: transparent;
}

.img-vu{
    max-width: 85vw;
    border: solid;
    border-color: var(--color-white);
    border-width: 9px;
    transform: scale(1);
    transition: .75s ease-in-out;

}

.img-vu-2{
    opacity: 0;
}

.img-vu:hover + .vu-1{
    color: white;
    transition: .75s ease-in-out;
}

.img-vu:hover{
    transform: scale(1.1);
    transition: .75s ease-in-out;
}

.img-tv{
    max-width: 85vw;
    border: solid;
    border-color: var(--color-white);
    border-width: 9px;
    transform: scale(1);
    transition: .75s ease-in-out;

}

.img-tv:hover + .tv-1{
    color: white;
    transition: .75s ease-in-out;
}

.img-tv:hover{
    transform: scale(1.1);
    transition: .75s ease-in-out;
}

.img-bf{
    max-width: 85vw;
    border: solid;
    border-color: var(--color-white);
    border-width: 9px;
    transform: scale(1);
    transition: .75s ease-in-out;

}

.img-bf:hover + .bf-1{
    color: white;
    transition: .75s ease-in-out;
}

.img-bf:hover{
    transform: scale(1.1);
    transition: .75s ease-in-out;
}

.img-wl{
    max-width: 85vw;
    border: solid;
    border-color: var(--color-white);
    border-width: 9px;
    transform: scale(1);
    transition: .75s ease-in-out;

}

.img-wl:hover + .wl-1{
    color: white;
    transition: .75s ease-in-out;
}

.img-wl:hover{
    transform: scale(1.1);
    transition: .75s ease-in-out;
}

.img-tab03{
    max-width: 85vw;
    // border: solid;
    // border-color: var(--color-white);
    // border-width: 9px;
    transform: scale(1);
    transition: .75s ease-in-out;

}

.img-tab03:hover + .tab03{
    color: white;
    transition: .75s ease-in-out;
}

.img-tab03:hover{
    transform: scale(1.1);
    transition: .75s ease-in-out;
}

.img-al{
    max-width: 85vw;
    // border: solid;
    // border-color: var(--color-white);
    // border-width: 9px;
    transform: scale(1);
    transition: .75s ease-in-out;

}

.img-al:hover + .al-1{
    color: white;
    transition: .75s ease-in-out;
}

.img-al:hover{
    transform: scale(1.1);
    transition: .75s ease-in-out;
}

.img-sol01{
    max-width: 85vw;
    transform: scale(1);
    transition: .75s ease-in-out;

}

.img-sol01:hover + .sol01-1{
    color: white;
    transition: .75s ease-in-out;
}

.img-sol01:hover{
    transform: scale(1.1);
    transition: .75s ease-in-out;
}


@media screen and (min-width: 700px) {
    .resumo{
        display: flex;
    }
    .solo-cont{
        margin: auto;
        //margin-left: auto;
        //margin-right:auto;
        max-width: 40vw;
    }
    .solo-1{
        width: 30vw;
        border: 9px solid var(--color-white);
    }
    .arrow{
        margin-left: .5rem;
        width: 30vw;
    }


    .invest-row{
        display: flex;
        margin: 3vw;
        justify-content: space-between;
    }

    .invest-column{
        margin: auto;
        border: solid;
        border-width: 9px;
        border-radius:50%;
        max-width: 20vw;
    }

    .contain-desc{
        max-width: 23%;
    }
    .cont-block{
        display: flex;
        min-width: 30%;
    }

    .intr-invest{
        max-width: 40vw;
        margin: auto;
        margin-left: 1.5rem;
        padding: 1rem;
    
    }
    .img{
        max-width: 40vw;
    }
    .img-mapapedo-1{
        min-width: 85vw;
    }
    .img-tv,.img-wl, .img-tab03{
        min-width: 85vw;
        text-align: center;
        margin: auto;
        padding: auto;
    }

    .arrow-2{
        padding: 2.5rem;
    }
    .img-al{
        min-width: 85vw;
    }

    .solo-exposto-1-page{
        display: flex;
    }
    .divisoria{
        width: 100vw;
        display: block;
    }
    
    .img-div-1{
        transform: scale(1);
    }
    .img-div-0{
        transform: scale(1);
    }
    .img-div-2{
        transform: scale(0.5);
    }


    .one-block{
        max-width: 40vw;
        margin-left: 1.5rem;
    }

    .leg{
        max-width: 40vw;
    }

    .img-zoom{
        height: 90vh;
        min-width: auto;
    }

    .img-min{
        width: 90vw;
        height: auto;
    }
}

//SOBRE A TERRA 2
.sob-terr-2{
    height: 100vh;
    width: 100%;
    position: relative;
    display: inline-flex;
}

//SOLO EXPOSTO 2
.solo-exposto-2-page{
    height: 100vh;
    width: 100%;
    position: relative;
    display: inline-flex;
}

.subsec{
    padding-top: 10%;
    padding-bottom: 5%;
}


//SUBSTRATO
.sub-p{
    text-align: justify;
}

.header-subs{
    background-color: var(--color-orange-2);
    background-image: linear-gradient(  
                                        // rgba(51, 22, 13, 1),
                                        // rgba(98, 53, 24, 1),
                                        // rgba(88, 38, 17, 1),
                                        rgba(184, 71, 31, 0.4),
                                        rgba(184, 71, 31, 1))
                                        /*rgba(199, 63, 24,  0.5),
                                        rgba(185, 102, 44,  0.1)),url(../img/soil-texture.png)*/;
    background-position: center;
    background-size: cover;
}

.header-invest{
    min-height: 100vh;
    width: 100%;

}

.escrito2{
    max-width: 80vw;
        margin: auto;
        margin-left: 2.5rem;
        padding: 1rem;
}


//ZOOM
.zoom{
    background-color: var(--color-green-2);
    background-image: linear-gradient(rgba(75, 115, 105, 0.3),
                                      rgba(11, 55, 59, 1))
                                        /*rgba(199, 63, 24,  0.5),
                                        rgba(185, 102, 44,  0.1)),url(../img/soil-texture.png)*/;
    background-position: center;
    background-size: cover;
    min-height: 500vh;
    width: 100%;
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
}

.zoom-sec{
    padding-top: 2rem;
    margin: auto;
    height: 100vh;
}

//BOLHAS
.bubbles {
    height: 100vh;
    width: 100%;
    //overflow: hidden;
}

.bubble {
    width: 10px;
    height: 10px;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: absolute;
}

.x1 {
    left: 8%;
    background: var(--color-orange-2);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.8;
    animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 15%;
    background: var(--color-orange-1);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left: 22%;
    background: var(--color-orange-1);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 36%;
    background: var(--color-orange-3);
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 1;
    animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: 42%;
    background: var(--color-orange-0);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7; 
    animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x6 {
    left: 55%;
    background: var(--color-orange-1);
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0.9; 
    animation: moveclouds 10s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x7 {
    left: 74%;
    background: var(--color-orange-0);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.8; 
    animation: moveclouds 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
}

.x8 {
    left: 83%;
    background: var(--color-orange-2);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.9; 
    animation: moveclouds 16s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x9 {
    left: 87%;
    background: var(--color-orange-3);
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.7; 
    animation: moveclouds 19s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x10 {
    left: 95%;
    background: var(--color-orange-0);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.6; 
    animation: moveclouds 8s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

@keyframes moveclouds { 
    0% { 
        top: -500px;
    }
    100% { 
        top: 95vh;
    }
}

@keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@keyframes moveclouds {     
    0% { 
        top: -500px;
    }

    100% { 
        top: 95vh;
    }
}

@keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@keyframes moveclouds {
    0% { 
        top: -500px;
    }
    100% { 
        top: 95vh;
    }
}

@keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}