*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

:root{
    --color-primary: #170a06;
    --color-secondary: #33160d;
    --color-orange-0: #c73f18;
    --color-orange-1: #b8471f;
    --color-orange-2: #b9662c;
    --color-orange-3: #d17938;
    --color-green-1: #4b7369;
    --color-green-2: #015f63;
    --color-green-3: #0b373b;
    --color-green-4: #062325;
    --color-brown-1: #582611;
    --color-brown-2: #623518;
    --color-red: #6b180c;
    --color-light: #fde092;
    --color-grey: #a5a1a2;
    --color-white: #ffffff;
    --color-black: #000;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3)

}

body{
    background-color: var(--color-primary);
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    //transition: all .4s ease-in-out;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(184, 71, 31,0.7),rgba(184, 71, 31, 0.2)),url(../img/terrao-capa-1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


.pages a:visited{
    color:var(--color-orange-0)
}

nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav i{
    height: 30px;
    color: var(--color-white);
}
nav i:hover{
    height: 30px;
    color: var(--color-orange-0);
    transition: .5s ease-in-out;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-weight:500;
    font-size: 14px;
}

.text-box-1{
    display: grid;
    text-align: right;
    margin: 30% 7% 0% 0%;
    //padding: 540px 0px 0px 850px;
    position: relative;
    justify-content: right;

}

.text-box-1 p{
    font-size: 24px;
    position: relative;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    //border: 1px solid var(--color-white);
    padding: 0px;
    background-color: transparent;
    color: var(--color-white);
    font-size: 48px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    background-color: transparent;
    color: var(--color-orange-0);
    transition: .75s ease-in-out;
}


.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--color-white);
    display:block;
    margin:auto;
    padding: 0px;
}

.nav-links ul li:hover::after{
    content: '';
    width: 100%;
    height: 2px;
    background: var(--color-white);
    display:block;
    margin:auto;
    padding: 0px;
    transition: .5s;
}

@media(max-width: 700px){
    .text-box-1{
        margin: 95% 0% 0% 0%;
        justify-content: center;
    }

    .nav-links ul li{
        font-size: 12px;
        display: inline-flexbox;
    }
    .nav-links{
        position: absolute;
        background: var(--color-orange-0);
        height: 65px;
        width: 100%;
        top: 0%;
        right: 0%;
        text-align: center;
        z-index: 2;
        margin: 0% 0% 0% 10%;
    }
}
